<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <!-- data table -->
<link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{css/dataTables.bootstrap.min.css}" rel="stylesheet" />
  <style>
  
  footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
  </style>
  
</head>

<body>
	<div th:replace="common/header :: navbar "/>
	<div th:replace="common/header :: notice "/>

<h2 style="text-align: center;color: green; ">ORDER HISTORY</h2>

<br>
 <div class="alert alert-danger" th:if="${stocksNotAvilable}"> <p style="text-align: center;" class="text-danger"> Sorry Stocks not available of this Company !</p>
</div>
<div class="alert alert-danger" th:if="${lessFunds}"> <p style="text-align: center;" class="text-danger"> Opps You have less funds to buy this stock so Please Add Funds in Your Account!</p>
</div>
<div class="alert alert-success" th:if="${ordersell}"> <p style="text-align: center;color: green; "> your order has been Sell successfully !</p>
</div>

<br>
<div class="container">
<div class="table-responsive">
			<table id="orderHistoryTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
					<th>Sr.No</th>
						<th>Date</th>
						<th>Company Name</th>
						<th>Stock Name</th>
						<th>Invested Price</th>
						<th>Final selling Price</th>
						<th>Stock Qty</th>
						<th>Avg Price</th>
						<th>sell Price</th>
 						<th>P&L</th>
					</tr>
				</thead>
<tbody >
<tr th:each="orderHistory,itr:${orderHistoryList}" >
<td th:text="${itr.index+1}"></td>
<td th:text=" ${orderHistory.sellDate}"></td>
<td th:text="${orderHistory.company.companyName}"></td>
<td th:text="${orderHistory.company.stockName}"></td>
<td style="color: green;" th:text="${orderHistory.investedPrice}"></td>
<td th:text="${orderHistory.finalTotalSellprice}"></td>
<td  th:text="${orderHistory.saleStockQuntity}"></td>
<td ><strong th:text="${orderHistory.buyPrice}" > </strong></td>
<td ><strong th:text="${orderHistory.Sellprice}" > </strong></td>

<td ><span style="color: green;">+ </span><strong  style="color: green;"  th:text="${orderHistory.profit}"></strong></td>
 					


</tr> 

</tbody>
</table>
</div>
</div>

	<!-- start footer Area -->

	<!-- End footer Area -->

	<div th:replace="common/header :: body-bottom-scripts " />
	
		<script>
		$(document).ready(function() {
			$("#orderHistoryTable").DataTable({
				  "lengthMenu": [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
                "ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>